:root {
    --romarin: #9aa886;
    --vigne: #7b3874;
    --fraise: #d62f32;
    --muflier: #e557d6;
    --rhubarbe: #d0272f;
    --fenouil: #dbecdd;
    --souci: #f5eb2d;
    --celeri: #c6da99;
    --liveche: #589529;
    --menthe: #1f5e3c;
    --sauge: #bdd8ce;
    --hysope: #4452df;
    --lavande: Lavender;
    /*--lavender: LavenderBlush;*/
    --ciboulette: #47960e;
    --bulbe: #e5a066;
        --verveine: #d0d325;
    --armoise: #b4c1c1;
    --gimgembre: #b87548;
    --ornemental: FloralWhite;
    --tomate: Tomato;
    --pecher: PeachPuff;
    --mais: Cornsilk;
    --amandier: BlanchedAlmond;
    --ble: Wheat;
    --olivier: Olive;
    /*--olivier: DarkOliveGreen;*/
    /*--olivier: OliveDrab;*/
    --citron-vert: Lime;
    --bleuet: CornflowerBlue;
    --chardon: Thistle;
    --prune: Plum;
    --orchidee: Orchid;
    --fuschia: Fuchsia;
    /*--orchidee: MediumOrchid;*/
    /*--orchidee: DarkOrchid;*/

    --lin: Linen;
    --oranger: orange;
}
